@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inknut Antiqua, serif;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 3.5em; /* Yuri: ajeitei tamanho do header */
  justify-content: space-between;
  padding: 5px;
}

.input-group-text {
  width: 35%; /* Yuri: alterando tamanho da classe input-group-text */
}

.trybewarts-login { display: flex;
  justify-content: space-around; /* Yuri: cria espaçamento dos inputs email e senha */
}

#trybewarts-header-title {
  color: white; /* Yuri: altera cor do h1 do header */
}

#evaluation-form { display: flex;
  width: 675px;
  flex-direction: column;
}

#main-cantainer {
  margin: 4%;
  display: flex;
}

body {
}

#form-title {
  margin-left: 10%;
  margin-bottom: 5%;
}

#info input {
  border: 1px solid grey;
  border-radius: 7px;
  padding: 10px 5px;
}

#trybewarts-forms-logo {
  height: 500px;
  margin-top: 10%;
  margin-left: 260px;
}

#familys { display: flex;
  flex-direction: column;
}

#check-content { display: flex;
  flex-direction: column;
  width: 50%;
}

#rate-container { display: flex;
  justify-content: space-between;

}

#school-info {
  display: flex;
  justify-content: space-between
}

#textarea {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  resize: none;
  border: 1px solid black;
}

hr {
  border: 3px solid black;
  margin: 20px 0;
}

footer {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  background-color: rgb(117, 113, 113);
  padding: 20px;
}
